:root {
  --dark: #101010,
  --white: #fafafa,
  --blue: #115def,
  --green: #48DF8E,
  --red: #F5525B,
  --gold: #ffbb1c,
  --violet: #7E4394,
  --ash: #a9a9a9,
  --assh: #dcdcdc,
  --text-color: #212121
  --text-gray: #383B49,
  --background: #efefef
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  min-width: 320px;
  max-height: 780px;
  color: #383B49;
  background: #efefef;
}
main {
  margin: 0 auto;
}
/* MOBILE RESPONSIVE VIEW */
@media only screen and (max-width: 600px) {  
    /* .cta-btn {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 8px;
      margin-top: 32px;
    }
  
    .hero--section {
      padding: 0 15px;
      width: 100%;
    }
  
    .service--container {
      padding: 0 15px;
    }
  
    .service--row {
      display: flex;
      flex-direction: column;
    }
  
    .service--name {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  
    .portfolio--container {
      /* width: 100%; */
      /* padding: 0 15px;
    }
  
    .portfolio--row {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
  .explore {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 50px;
  }
  
    .pricing--plans {
      padding: 0 15px;
      margin-bottom: 30px;
    } */
  
    .hire--me{
      margin-bottom: 0px;
    } */
  
    /* .work--paragraph {
      text-align: center;
      padding: 0 1rem;
    }
  
    .work--plan {
      margin-bottom: 100px;
    } */
  
    .card--container {
      padding: 0 15px;
      margin-bottom: 30px;
      position: relative;
      /* left: 15px; */
      bottom: 80px;
      /* width: 100%; */
    }
  
    /* .footer--container {
      height: 64px;
      border-radius: 0px 0px 10px 10px;
      bottom: 0;
      position: fixed;
      width: 100%;
      background: #161619;
    } */
  }
  