.nav--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 120px;
  color: var(--background);
  background: var(--blue);
  flex-direction: row-reverse;
}
  
.logo {
  display: flex;
  flex-direction: column;
  font-family: 'Sora', Poppins, ;
}
  
.small {
  font-family: monospace;
}
  
.github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
}
  
.github a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 600;
  color: #c6c6c6;
  margin-top: 0;
}